.nav-link {
  position: relative;
}

.nav-link:after {
  border-top: .1875rem solid #f26c4f;
  content: "";
  height: .1875rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
}

.navbar-toggler {
  margin-left: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

[class*="navbar-expand"] .navbar-nav .nav-link {
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: .0625rem solid rgba(0, 0, 0, .1);
}

/*XL*/

/*LG*/

/*MD*/

/*SM*/

/*-------------------------------------------
-- Page
-------------------------------------------*/

.ts-page-wrapper {
  overflow: hidden;
}

/*-------------------------------------------
-- Partners
-------------------------------------------*/

.ts-partners a {
  display: block;
  padding: .625rem .3125rem;
}

/*-------------------------------------------
-- Plugins
-------------------------------------------*/

.tv-site-widget {
  border: none !important;
}

iframe div {
  border: none;
}

/*-------------------------------------------
-- Progress
-------------------------------------------*/

.progress {
  background-color: transparent;
  border-radius: 0;
  height: 3rem;
  margin-bottom: 2rem;
  position: relative;
  overflow: visible;
}

.progress .ts-progress-value {
  border: .125rem solid #fff;
  bottom: 0;
  padding: .125rem .375rem;
  position: absolute;
  left: 0%;
  transform: translateX(-1rem);
}

.progress .ts-progress-value:after {
  border-style: solid;
  border-width: .3125rem .3125rem 0 0;
  border-color: #fff transparent transparent transparent;
  bottom: -0.4375rem;
  content: "";
  left: .375rem;
  position: absolute;
}

.progress .progress-bar {
  background-color: #f26c4f;
  bottom: 0;
  height: .1875rem;
  position: absolute;
  width: 0%;
}

.progress .progress-bar, .progress .ts-progress-value {
  transition: 1s ease;
}

/*-------------------------------------------
-- Promo Numbers
-------------------------------------------*/

.ts-promo-number {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.ts-promo-number figure {
  color: #f26c4f;
  font-weight: 400;
}

/*-------------------------------------------
-- Select
-------------------------------------------*/

select.form-control {
  box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
  border-radius: .25rem;
  cursor: pointer;
  height: 2.8125rem !important;
  margin-top: -0.125rem;
  padding: .5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
  text-indent: .0625rem;
  text-overflow: '';
}

select.form-control:focus, select.form-control:hover {
  box-shadow: .375rem .3125rem 1.5625rem rgba(0, 0, 0, .2);
}

select::-ms-expand {
  display: none;
}

.select-wrapper {
  position: relative;
}

.select-wrapper:before {
  position: absolute;
  display: inline-block;
  font-weight: 900;
  text-rendering: auto;
  top: 0;
  margin: auto;
  bottom: 0;
  right: .9375rem;
  height: 1.875rem;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome\ 5 Free";
  content: "\f0dd";
}

/*-------------------------------------------
-- Slider
-------------------------------------------*/

.ts-slider {
  height: 100% !important;
}

.ts-slider div {
  height: 100% !important;
}

/*-------------------------------------------
-- Tabs
-------------------------------------------*/

.nav-tabs {
  border-bottom: none;
}

.nav-tabs h4 {
  font-weight: normal;
  margin-bottom: 0;
}

.nav-tabs .nav-link {
  background-color: transparent;
  border: none;
  border-bottom: .1875rem solid transparent;
  margin-left: .9375rem;
  margin-right: .9375rem;
  padding-right: 0;
  padding-left: 0;
  color: inherit;
  opacity: .5;
}

.nav-tabs .nav-link.active {
  color: #191919;
  background-color: transparent;
  border-bottom: .1875rem solid #f26c4f;
  opacity: 1;
}

/***********************************************************************************************************************
D. Plugins Styles
***********************************************************************************************************************/

/*-------------------------------------------
-- Magnific Popup
-------------------------------------------*/

/* overlay at start */

.mfp-fade.mfp-bg {
  opacity: 0;
  background-color: #000;
  -webkit-transition: all .15s ease-out;
     -moz-transition: all .15s ease-out;
          transition: all .15s ease-out;
}

/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
  opacity: .8;
}

/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all .15s ease-out;
     -moz-transition: all .15s ease-out;
          transition: all .15s ease-out;
}

/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/*-------------------------------------------
-- Owl Carousel
-------------------------------------------*/

.owl-carousel .owl-stage, .owl-carousel .owl-stage-outer,
.owl-carousel .owl-item {
  height: 100%;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  padding: .3125rem;
}

.owl-carousel .owl-dots .owl-dot.active span {
  background-color: #f26c4f;
  opacity: 1;
}

.owl-carousel .owl-dots .owl-dot:hover span {
  background-color: #fff;
  opacity: .7;
}

.owl-carousel .owl-dots .owl-dot span {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  height: .625rem;
  opacity: .2;
  transition: .3s ease;
  width: .625rem;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: -1.25rem;
  bottom: 0;
  height: 0;
  margin: auto;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
  background-color: rgba(255, 255, 255, .6);
  border-radius: 50%;
  box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
  color: #fff;
  display: inline-block;
  height: 2.5rem;
  position: absolute;
  text-align: center;
  transition: .3s ease;
  width: 2.5rem;
}

.owl-carousel .owl-nav .owl-prev:after, .owl-carousel .owl-nav .owl-next:after {
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  font-size: 1.375rem;
  line-height: 2.5rem;
  -webkit-font-smoothing: antialiased;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover {
  background-color: rgba(25, 25, 25, .8);
}

.owl-carousel .owl-nav .owl-next {
  right: .3125rem;
}

.owl-carousel .owl-nav .owl-next:after {
  content: "\f105";
  margin-left: .1875rem;
}

.owl-carousel .owl-nav .owl-prev {
  left: .3125rem;
}

.owl-carousel .owl-nav .owl-prev:after {
  content: "\f104";
  margin-right: .0625rem;
}

/***********************************************************************************************************************
E. Template Specific Elements
***********************************************************************************************************************/

.ts-bubble-border {
  display: inline-block;
  position: relative;
  transition: .6s ease;
}

.ts-bubble-border i {
  background-color: #fff;
  position: absolute;
  transition: .2s ease-in;
}

.ts-bubble-border i:nth-child(1) {
  top: 0;
  left: 0;
  height: .1875rem;
  width: 0%;
}

.ts-bubble-border i:nth-child(2) {
  height: 0%;
  right: 0;
  top: 0;
  width: .1875rem;
  transition-delay: .2s;
}

.ts-bubble-border i:nth-child(3) {
  bottom: 0;
  right: 0;
  height: .1875rem;
  width: 0%;
  transition-delay: .4s;
}

.ts-bubble-border i:nth-child(4) {
  height: 0%;
  left: 0;
  bottom: 0;
  width: .1875rem;
  transition-delay: .6s;
}

.ts-bubble-border i:nth-child(5) {
  bottom: 0;
  opacity: 0;
  transition-delay: .6s;
  left: 2rem;
}

.ts-bubble-border i:nth-child(5):after {
  border-style: solid;
  border-width: .625rem .625rem 0 0;
  border-color: #fff transparent transparent transparent;
  content: "";
  position: absolute;
}

.ts-bubble-border .ts-title-rotate {
  left: 0;
  /*padding: 24px 36px;*/
  position: absolute;
  top: 0;
}

.ts-bubble-border .ts-title-rotate span {
  padding: 1.5rem 2.25rem;
  display: inline-block;
  position: absolute;
  transition: .8s ease;
  transition-delay: .3s;
  transform: translateY(-0.3125rem) rotate(.02deg);
  opacity: 0;
  white-space: nowrap;
}

.ts-bubble-border .ts-title-rotate span.active {
  opacity: 0;
  transform: translateY(-0.3125rem) rotate(.02deg);
}

.ts-bubble-border.in .ts-title-rotate span.active {
  opacity: 1;
  transform: translateY(0) rotate(.02deg);
}

.ts-bubble-border.in .ts-title-rotate span.out {
  opacity: 0;
  transform: translateY(.3125rem) rotate(.02deg);
}

.ts-bubble-border.in i:nth-child(1), .ts-bubble-border.in i:nth-child(3) {
  width: 100%;
}

.ts-bubble-border.in i:nth-child(2), .ts-bubble-border.in i:nth-child(4) {
  height: 100%;
}

.ts-bubble-border.in i:nth-child(5) {
  opacity: 1;
}

#ts-content .ts-bubble-border, #ts-footer .ts-bubble-border {
  padding: 1.5rem 2.25rem;
}

/*-------------------------------------------
-- Centered Slider
-------------------------------------------*/

.ts-carousel-centered .slide {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.ts-carousel-centered .owl-item {
  perspective: 1000;
}

.ts-carousel-centered .owl-item .slide {
  opacity: .5;
  transition: .3s ease;
  transform: scale(.95);
}

.ts-carousel-centered .owl-item.active.center .slide {
  opacity: 1;
  transform: scale(1);
}

.ts-carousel-centered .owl-nav .owl-prev,
.ts-carousel-centered .owl-nav .owl-next {
  height: 3.75rem;
  width: 3.75rem;
}

.ts-carousel-centered .owl-nav .owl-prev:after,
.ts-carousel-centered .owl-nav .owl-next:after {
  font-size: 1.375rem;
  line-height: 3.75rem;
}

.ts-carousel-centered .owl-nav .owl-prev:hover,
.ts-carousel-centered .owl-nav .owl-next:hover {
  background-color: rgb(25, 25, 25);
}

.ts-carousel-centered .owl-nav .owl-next {
  right: 1.25rem;
}

.ts-carousel-centered .owl-nav .owl-prev {
  left: 1.25rem;
}

/*-------------------------------------------
-- Hero Form Floated
-------------------------------------------*/

.floated {
  position: relative;
  width: 100%;
  z-index: 1;
  bottom: -1.875rem;
}

.floated form {
  position: relative;
  padding: 1.875rem 3.75rem;
}

/*-------------------------------------------
-- Price Box
-------------------------------------------*/

.ts-price-box__promoted {
  box-shadow: .375rem .3125rem 1.5625rem rgba(0, 0, 0, .2);
  margin-top: -1.25rem;
  margin-bottom: .625rem;
  z-index: 2;
}

.ts-price-box__promoted .ts-title {
  transform: scale(1.2);
}

/*-------------------------------------------
-- Time Line
-------------------------------------------*/

.ts-time-line__horizontal {
  padding-bottom: .625rem;
  padding-top: .625rem;
  position: relative;
  /* timeline line */
}

.ts-time-line__horizontal ul {
  padding-left: 1.875rem;
  list-style: none;
  position: relative;
}

.ts-time-line__horizontal:after {
  background-color: #474747;
  content: "";
  bottom: 6.875rem;
  height: .1875rem;
  left: 0;
  position: absolute;
  width: 100%;
}

.ts-time-line__horizontal .ts-time-line__item {
  flex: 0 0 auto;
  margin-right: 1.875rem;
  position: relative;
  width: 18.75rem;
}

.ts-time-line__horizontal .ts-time-line__item .ts-box {
  position: relative;
  /* dot */
}

.ts-time-line__horizontal .ts-time-line__item .ts-box:before {
  background-color: #474747;
  bottom: -4.375rem;
  border-radius: 100%;
  content: "";
  left: 1.6875rem;
  height: .75rem;
  position: absolute;
  width: .75rem;
}

.ts-time-line__horizontal .ts-time-line__item .ts-box {
  /*triangle*/
}

.ts-time-line__horizontal .ts-time-line__item .ts-box:after {
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: .5rem .5rem 0 .5rem;
  bottom: -0.4375rem;
  content: "";
  left: 1.5625rem;
  height: 0;
  position: absolute;
  width: 0;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone {
  width: 4.375rem;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone .ts-box {
  background-color: #f26c4f;
  color: #fff;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone .ts-box:after {
  border-color: #f26c4f transparent transparent transparent;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone h5 {
  writing-mode: vertical-lr;
  margin: 0;
}

.ts-time-line__horizontal .ts-time-line__item figure {
  margin-left: 1.875rem;
  margin-top: 4.6875rem;
}

.ts-time-line__horizontal .ts-time-line__item figure small {
  text-transform: uppercase;
  opacity: .4;
}

.ts-time-line__horizontal .ts-time-line__item figure small,
.ts-time-line__horizontal .ts-time-line__item figure h6 {
  font-weight: 600;
}

.ts-time-line__horizontal .owl-stage-outer {
  padding: 1rem 1rem 0 1rem;
}

.ts-time-line__horizontal .owl-stage {
  align-items: flex-end;
  display: flex;
}

.ts-time-line__horizontal .ts-sly-frame.ts-loaded > ul {
  align-items: flex-end;
  display: flex;
}

/*-------------------------------------------
-- SVG Shapes
-------------------------------------------*/

.ts-svg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 0;
  z-index: -1;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  margin: auto;
}

.ts-story:hover {
  color: #fff;
}

.ts-story:hover p {
  color: #fff;
}

.ts-story:hover .ts-background {
  background-color: #000 !important;
}

.ts-story:hover .ts-background-image {
  opacity: .4 !important;
}

.ts-story {
  margin-bottom: 2rem;
  padding: 14rem 2rem 2rem 2rem;
  position: relative;
}

.ts-story .ts-background, .ts-story .ts-background-image {
  transition: .3s ease;
}

.ts-story figure {
  background-color: #fff;
  color: rgba(25, 25, 25, .2);
  font-weight: 500;
  position: absolute;
  top: -0.375rem;
  left: 3rem;
  padding: 1rem;
  transform: rotate(-90deg);
  transform-origin: bottom;
}

/*-------------------------------------------
-- Other
-------------------------------------------*/

/* Footer push up */

#ts-footer .ts-box {
  margin-top: -3.125rem;
}

.ts-tabs-presentation .tab-pane img {
  opacity: 0;
  transition: .3s ease;
  transform: translateY(1.25rem);
}

.ts-tabs-presentation .tab-pane.show.active img {
  opacity: 1;
  transform: translateY(0);
}

/* Hero navigation arrows */

#ts-hero .owl-prev, #ts-hero .owl-next {
  background-color: transparent;
  border: .125rem solid rgba(255, 255, 255, .8);
}

#ts-hero .owl-prev:after, #ts-hero .owl-next:after {
  line-height: 2.25rem;
}

/* Hero slider height */

.ts-hero-slider {
  height: 100% !important;
}

.ts-hero-slider div {
  height: 100% !important;
}

@media (min-width: 36rem) and (max-width: 47.9375rem) {
  html {
      font-size: 85%;
  }

  h1, .ts-h1 {
      font-size: 2.5rem;
  }

  h2, .ts-h2 {
      font-size: 1.625rem;
  }

  h3, .ts-h3 {
      font-size: 1.25rem;
  }

  .ts-column-count-sm-1 {
      column-count: 1;
  }

  .ts-column-count-sm-2 {
      column-count: 2;
  }

  .ts-column-count-sm-3 {
      column-count: 3;
  }

  .ts-column-count-sm-4 {
      column-count: 4;
  }

  .ts-promo-number figure {
      font-size: 2.375rem;
  }
}

@media (min-width: 48rem) and (max-width: 61.9375rem) {
  html {
      font-size: 90%;
  }

  h1, .ts-h1 {
      font-size: 3rem;
  }

  h2, .ts-h2 {
      font-size: 1.875rem;
  }

  h3, .ts-h3 {
      font-size: 1.375rem;
  }

  .ts-column-count-md-1 {
      column-count: 1;
  }

  .ts-column-count-md-2 {
      column-count: 2;
  }

  .ts-column-count-md-3 {
      column-count: 3;
  }

  .ts-column-count-md-4 {
      column-count: 4;
  }

  .ts-promo-number figure {
      font-size: 2.5rem;
  }
}

@media (min-width: 62rem) and (max-width: 74.9375rem) {
  html {
      font-size: 95%;
  }

  h1, .ts-h1 {
      font-size: 3.125rem;
  }

  h2, .ts-h2 {
      font-size: 2rem;
  }

  h3, .ts-h3 {
      font-size: 1.375rem;
  }

  .ts-column-count-lg-1 {
      column-count: 1;
  }

  .ts-column-count-lg-2 {
      column-count: 2;
  }

  .ts-column-count-lg-3 {
      column-count: 3;
  }

  .ts-column-count-lg-4 {
      column-count: 4;
  }

  .ts-block {
      padding-bottom: 6.25rem;
      padding-top: 6.25rem;
  }

  .ts-card__image {
      height: 12.5rem;
  }

  .ts-promo-number figure {
      font-size: 2.75rem;
  }
}

@media (min-width: 75rem) {
  html {
      font-size: 100%;
  }

  h1, .ts-h1 {
      font-size: 3.5rem;
  }

  h2, .ts-h2 {
      font-size: 2.25rem;
  }

  h3, .ts-h3 {
      font-size: 1.875rem;
  }

  .ts-column-count-xl-1 {
      column-count: 1;
  }

  .ts-column-count-xl-2 {
      column-count: 2;
  }

  .ts-column-count-xl-3 {
      column-count: 3;
  }

  .ts-column-count-xl-4 {
      column-count: 4;
  }

  .ts-block {
      padding-bottom: 8.125rem;
      padding-top: 8.125rem;
  }

  .ts-card__image {
      height: 15.625rem;
  }

  .navbar.navbar-expand-xl .navbar-nav {
      align-items: center;
  }

  .navbar.navbar-expand-xl .navbar-nav .nav-link {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: none;
  }

  .navbar.navbar-expand-xl .ts-background {
      opacity: 0;
  }

  .ts-promo-number figure {
      font-size: 3.75rem;
  }

  .ts-carousel-centered .owl-nav .owl-next {
      right: 5rem;
  }

  .ts-carousel-centered .owl-nav .owl-prev {
      left: 5rem;
  }

  .floated form {
      padding: 2.5rem 5rem;
  }
}

@media (max-width: 35.9375rem) {
  h1, .ts-h1 {
      margin-bottom: 1.25rem;
  }

  [class*="ts-column-count-"] {
      column-count: 1;
  }

  .ts-xs-text-center {
      text-align: center !important;
  }

  .ts-title {
      margin-bottom: 1.875rem;
  }

  .ts-promo-number figure {
      font-size: 2.25rem;
  }
}

@media (min-width: 36rem) and (max-width: 61.9375rem) {
  h1, .ts-h1 {
      margin-bottom: 1.875rem;
  }

  .ts-title {
      margin-bottom: 3.125rem;
  }

  .ts-block-inside {
      padding: 2.5rem;
  }
}

@media (min-width: 62rem) {
  h1, .ts-h1 {
      margin-bottom: 2.5rem;
  }

  .ts-title {
      margin-bottom: 5rem;
  }

  .ts-block-inside {
      padding: 3.75rem;
  }

  .navbar.navbar-expand-lg .navbar-nav {
      align-items: center;
  }

  .navbar.navbar-expand-lg .navbar-nav .nav-link {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: none;
  }

  .navbar.navbar-expand-lg .ts-background {
      opacity: 0;
  }

  .floated {
      position: absolute;
  }
}

@media (max-width: 47.9375rem) {
  h4, .ts-h4 {
      font-size: 1.125rem;
  }
}

@media (min-width: 48rem) {
  h4, .ts-h4 {
      font-size: 1.5rem;
  }

  .navbar.navbar-expand-md .navbar-nav {
      align-items: center;
  }

  .navbar.navbar-expand-md .navbar-nav .nav-link {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: none;
  }

  .navbar.navbar-expand-md .ts-background {
      opacity: 0;
  }
}

@media (max-width: 61.9375rem) {
  .ts-card__image {
      height: 15.625rem;
  }
}

@media (min-width: 36rem) {
  .navbar.navbar-expand-sm .navbar-nav {
      align-items: center;
  }

  .navbar.navbar-expand-sm .navbar-nav .nav-link {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: none;
  }

  .navbar.navbar-expand-sm .ts-background {
      opacity: 0;
  }

  .ts-carousel-centered .owl-nav .owl-next {
      right: 2.5rem;
  }

  .ts-carousel-centered .owl-nav .owl-prev {
      left: 2.5rem;
  }
}